{% extends 'admin.base' %}

{% block title %}生成 Profile 文件缓存{% endblock %}

{% block content %}
  <div class="card">
    <div class="card-header">
      <h3 class="card-title">使用方法</h3>
    </div>

    <div class="card-body">
      {{ readme|raw }}
    </div>

    <div class="card-footer">
      <a id="generate-cache" class="btn btn-primary text-white">生成文件缓存</a>
    </div>
  </div>
{% endblock %}

{% block before_foot %}
  <script>
    document.querySelector('#generate-cache').addEventListener('click', async () => {
      const { code, message } = await blessing.fetch.get('/admin/generate-profile-cache?continue')
      if (code === 0) {
        blessing.notify.toast.success(message)
      }
    })
  </script>
{% endblock %}
