{% extends 'auth.base' %}

{% block title %}{{ trans('SinglePlayerLimit::bind.title') }}{% endblock %}

{% block content %}
  <p class="login-box-msg">
    <b>{{ trans('SinglePlayerLimit::bind.title') }}</b>
  </p>
  <div id="form"></div>
{% endblock %}
