[submodule "yggdrasil-api"]
	path = yggdrasil-api
	url = https://github.com/bs-community/yggdrasil-api.git
[submodule "multi-index-style"]
	path = multi-index-style
	url = https://github.com/bs-community/multi-index-style.git
