{
  "presets": [
    "babel-preset-minify",
    ["@babel/preset-env", {
      "useBuiltIns": false,
      "loose": true
    }]
  ],
  "plugins": [
    "@babel/plugin-transform-async-to-generator"
  ]
}
