{% extends 'admin.base' %}

{% block title %}注册链接分享配置{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-md-6">
      {{ form.render()|raw }}
    </div>
  </div>
{% endblock %}
