{
  "presets": [
    ["@babel/preset-env", {
      "targets": {
        "browsers": [
          "> 1%",
          "not dead",
          "not ie 11",
          "Chrome > 52"
        ]
      },
      "useBuiltIns": false,
      "loose": true
    }]
  ]
}
