{% extends 'admin.base' %}

{% block title %}{{ trans('GPlane\\Mojang::mojang-verification.config.title') }}{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-md-6">
      {{ form|raw }}
    </div>
  </div>
{% endblock %}
